@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --heading-color: #464b62;
    --text-color: #7c818a;
    --background-color: #5743e2;
    --background-color-light: #8f56d8;
    --text-color-onBackground: #e8edfa;
    --text-yellow-color-onBackground: #e4e49f;
}

/* 1 Mohit Uniyal*/
#banner{
    text-align: center;
    background: linear-gradient(to right, var(--background-color-light), var(--background-color));
    color: var(--text-color-onBackground);
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    span{
        font-weight: 700;
    }
    a{
        color: #e2ac77;
    }
}
/* 2 */
.button-login {
    background-color: blueviolet;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 0px;
    margin: 0px;
    padding: 10px;
    color: aliceblue;

}
.box-container {
    background-color: blueviolet;
    color: aliceblue;
    padding: 15px;
    margin: 0px;
    border-width: 0px;
    width: 40vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;

}
.box-content {
    width: cover;
    height: cover;

}
.main-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    text-align: left;
    
}
.box-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    text-align: center;
    
}
.paragraph {
    color: blue;
    padding-top: 10px;
    padding: 10px;
}
.input {
    padding:5px;
    border-radius: 10px;
    border-width: 0px;
    width: 33vw;
    margin: 5px;
}
.button-submit {
    background-color: yellow;
    width: 33vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-width: 0px;
    margin: 15px;
    padding: 10px;
    color: black;
}
/* 3 */
/* 4 */
/* 5 */
.accordion-button {
    background-color: #5b5bf5;
    color: white;
}
.accordion-button.collapsed {
    background-color: #f8f9fa;
    color: #000;
}
.list-item {
    padding-left: 20px;
}
.section-title {
    font-weight: bold;
    color: #5b5bf5;
}

 .accordion-button {
            background-color: #5b5bf5;
            color: white;
        }
        .accordion-button.collapsed {
            background-color: #f8f9fa;
            color: #000;
        }
        .list-item {
            padding-left: 20px;
        }
        .section-title {
            font-weight: bold;
            color: #5b5bf5;
        }

        /* 7 Mohit Uniyal */

#buy-course{
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-evenly;
    #comment{
        width: 27%;
        display: flex;
        flex-direction: column;
        gap: 6rem;
        #heading{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h2{
                font-size: 3.4rem;
                color: var(--heading-color);
            }
            p{
                font-size: 1..3rem;
                color: var(--text-color);
            }
            svg{
                width: 20%;
                height: auto;
                color: var(--background-color);
            }
        }
        #comment-box{
            width: 80%;
            margin-left: auto;
            padding: 1rem;
            border: 1px solid rgb(202, 202, 202);
            background-color: #f1f0f5;
            border-radius: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #profile{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                svg{
                    width: 30%;
                    height: 30%;
                    color: var(--heading-color);
                }
                #name{
                    font-size: 1.2rem;
                    color: var(--heading-color);
                }
            }
            #rating{
                display: flex;
                flex-direction: column;
                #stars{
                    color: goldenrod;
                }
            }
        }
    }
    #courses{
        width: 60%;
        display: flex;
        justify-content: space-around;
        /* gap: 6rem; */
        .course{
            width: 35%;
            padding-top: 8rem;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
            border: 1px solid rgb(202, 202, 202);
            border-radius: 1rem;
            position: relative;
            .title-card{
                position: absolute;
                top: calc(-5rem);
                left: calc(-10%);
                width: 120%;
                height: 9.5rem;
                background-color: var(--background-color);
                border-radius: 1.5rem;
                padding-top: 1.5rem;
                padding-left: 1.5rem;
                color: white;
                h3{
                    font-size: 1.2rem;
                    font-weight: 700;
                    span{
                        font-size: 1.8rem;
                    }
                }
            }
            .logo{
                position: absolute;
                width: 30%;
                padding: 0.5rem;
                top: 1rem;
                border: 2px solid var(--background-color);
                border-radius: 1rem;
                background-color: white;
                svg{
                    width: 100%;
                    height: auto;
                    color: var(--background-color);
                }
            }
            .details{
                h3{
                    font-size: 1rem;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                ul{
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding: 0;
                    color: var(--text-color);
                    li svg{
                        color: rgb(35, 180, 35);
                    }
                }
            }
            button{
                color: var(--background-color);
                background-color: transparent;
                border: 2px solid var(--background-color);
                border-radius: 1rem;
                font-weight: 700;
                padding: 0.7rem 1.5rem;
            }
        }
    }
}


/*6 Manjot Kaur section 6 certificate */

/* Section for module download */
.module-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.module-section p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.module-download {
    display: flex;
    align-items: center;
    gap: 15px;
}



.syllabus-link:hover {
    text-decoration: underline;
}

.input-field {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #dfe6e9;
    width: 180px;
}

.download-btn {
    background-color: #6c5ce7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #5a4ec7;
}

/* Section for certificates */
.certificate-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

#left {
    flex: 1;
}

#left h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#left ol {
    font-size: 1.4rem;
    color: #666;
    line-height: 1.6;
}

#right {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

#right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 7 */

/* 8 Pragya Samadhiya */
#mentors{
    line-height: 1.5;
    margin: 25px;
    p{
        text-align: center;
        font-style: italic;
        font-size: 1.2rem;
        font-weight: 300;
        color: var(--text-color);
    }

    .mentors-heading{
        text-transform: capitalize;
        font-size: 2.2rem;
        color: var(--heading-color);
        font-weight: 600;
        font-style: normal;
    }

    .cards{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .card{
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
        align-items: center;
        justify-content: space-evenly;
        width: 280px;
        height: 290px;
        margin-top: 130px;
        border-radius: 5%;

        .mentor{
            width: 150px;
            height: 150px;
            border-radius: 20px;
            transform: translateY(-50%);
        }

        .card-data{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -70px;

            h2{
                font-size: 1.4rem;
                color: var(--text-color-onBackground);
                text-transform: capitalize;
                font-weight: 600;
                border-bottom: 2px solid #6653eb;
                padding: 1rem;
                padding-top: .5rem;
            }
    
            h4{
                font-size: 1rem;
                font-weight: 400;
                color: var(--text-yellow-color-onBackground);
                text-transform: capitalize;
                padding: 0.5rem;
            }
    
            .icon-linkedin{
                width: 50px;
                background-color: #6554e4;
                padding: .8rem;
                border-radius: 10px;
                /* margin-bottom: 1rem; */
            }
        }

        
    }

}
/* 9 */
/* 10 */
